body {
	background-color: #888 !important;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#logo {
	max-width: 100%;
}

#menu1 {
	max-width: 100%;
}

#side {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #222;
	width: 13%;
	height: 100%;
	min-height: 13%;
	max-width: 100%;
}


.link_list {
	position: static;
	padding-left: 35px;
	
}

#header1 img {
	min-width: 100%;
	max-width: 100%;
	margin-bottom: 75px;
}


#section1 {
	padding-bottom: 10px;
	padding-right: 10px;
	
	min-width: 85%;
	max-width: 85%;
	margin-top: 3%;
	margin-left: 13%;
	

}

#section1 h1 {
	text-align: center;
}

#button1 {
	margin-top: 20%;
	position: absolute;
	margin-left: 4.5%;
}

#button2 {

}











.black-bg {
	background-color: #000;
}

.white-text {
	color: #eee;
}

.grey-bg {
	background-color: #888;	
}